@import url('./styles.css');

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--blue-transparent) 30%, var(--grey-transparent) 40%), #303030;
    background-repeat: no-repeat;
}
